@use 'custom-theme-vars' as vars;

.centred-max-width {
  max-width: vars.$app-max-content-width;
  margin: 0 auto;
}

.standard-wrapper {
  padding: 2rem;
  overflow: hidden;
}

.flex-spacer {
  flex: 1;
}
