@use '../../styles/app-utilities' as app;

.app-title {
  font-size: xx-large;
  letter-spacing: 0.25rem;
}

.main-toolbar {
  --mat-toolbar-container-background-color: var(--mat-sys-primary-container);
  --mat-toolbar-container-text-color: var(--mat-sys-on-primary-container);

}

.menu-items {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.spacer {
  flex: 1;
}

.menu-item {
  border: 1px var(--mat-sys-on-primary-container) solid;
  padding: .25rem .75rem;
  border-radius: 8px;
}

.wot {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;
}

