<div class="standard-wrapper centred-max-width form-general">
  <div class="screen-title"> {{ pageTitle() }}</div>
  <div
    class="form"
    [formGroup]="form"
  >
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        (input)="onInput($event, title,maxTitle)"
        formControlName="name" matInput
        placeholder="Title of your canya">
      @if (!title.untouched && title.errors) {
        @if (title.errors!['required']) {
          <mat-error>You must have a title</mat-error>
        }
        @if (title.errors!['minlength'] || title.errors!['maxlength']) {
          <mat-error>The title must have between {{ minTitle }} and {{ maxTitle }} characters</mat-error>
        }
      }
    </mat-form-field>
    <mat-form-field>

      <mat-label>Description</mat-label>
      <textarea
        formControlName="description" matInput
        placeholder="Add a description"
        (input)="onInput($event, description,maxDesc)"

        rows="4"
      ></textarea>

    </mat-form-field>
    <div class="add-dates">
      <button mat-icon-button (click)="onAddDate()">
        <mat-icon>add</mat-icon>
      </button>
      <div class="prompt">Lets add some event date informatoin</div>
    </div>


  </div>

  <div class="event-dates">
    <div class="event-form">
      @for (dateForm of dateForms; track i; let i = $index) {
        <div class="event-date-form">
          <div class="event-date-form-row"
               [formGroup]="dateForm"
          >
            <div class="delete-control" (click)="onDeleteContactRow(i)">
              <mat-icon>delete</mat-icon>
            </div>
            <div class="event-date-control">
              <mat-form-field>
                <mat-label>Event Date</mat-label>
                <input matInput
                       [min]="minDate"
                       placeholder="Choose an event date"
                       formControlName="selectedDate"
                       [matDatepicker]="picker"
                >
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker/>
              </mat-form-field>

            </div>
            <mat-form-field>
              <mat-label>Comments</mat-label>
              <input matInput placeholder="time slots etc" formControlName="comments">

            </mat-form-field>


          </div>
          <div class="event-date-error">
            <!--            <mat-error class="event-date-error">This is where error gans</mat-error>-->
            @if (dateForm.get('selectedDate')?.errors! && !dateForm.get('selectedDate')?.pristine) {


              @if (dateForm.get('selectedDate')?.hasError('matDatepickerParse')) {
                <mat-error>You must have the date in the format dd/mm/yyyy</mat-error>
              } @else if (dateForm.get('selectedDate')?.hasError('required')) {
                <mat-error>You must have a date for the event</mat-error>
              } @else if (dateForm.get('selectedDate')?.hasError('matDatepickerMin')) {
                <mat-error>Your date cant be in the past</mat-error>
              }

              <!--              {{ dateForm.get('selectedDate')?.errors  |json }}-->

            }
            <!--            @if (eventDateEntries[i].controls['selectedDate']!.errors!['required']) {-->
            <!--            }-->
          </div>


        </div>
      }
    </div>
  </div>

  <div class=" buttons">
    <button mat-stroked-button (click)="onCancelClick()"> Cancel</button>
    <button (click)="onSave()" [disabled]="!form.valid" mat-flat-button>{{ saveCaption }}</button>
  </div>

</div>





